<h1><%= @line.name %></h1>

<% @line.stations.each do |station| %>
  <%= link_to "#{station.name}", station_path(station), :class=> "btn btn-default btn-sm" %>
<% end %>

<hr>
<%= link_to "Edit Line", edit_line_path(@line), :class=> "btn btn-success" %>

<%= link_to "Delete", line_path(@line),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"},
                         :class => "btn btn-danger" %>
